@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  background-color: var(--background);
}

* {
  font-family: "Poppins", sans-serif;
}

[data-reach-dialog-overlay] {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  height: 100%;
}

[data-reach-dialog-content] {
  margin: 7.5vh !important;
}
